mat-card {
  padding: 20px;

  mat-card-footer {
    padding: 20px;
  }
}

.myclass1 {
  color: red;
  background-color: #F2F2F2;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
  font-size: 16px;
  padding: 10px;
}

.myclass2 {
  color: aqua;
  background-color: #F2F2F2;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
  font-size: 20px;
  padding: 15px;
}

.myclass3 {
  color: coral;
  background-color: #F2F2F2;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
  font-size: 24px;
  padding: 20px;
}

.myclass4 {
  color: green;
  background-color: #F2F2F2;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
  font-size: 28px;
  padding: 25px;
}