.d-flex {
  display: flex;
  justify-content: center;
}

.around {
  justify-content: space-around;
}

.between {
  justify-content: space-between;
}

.column {
  flex-direction: column;
}

mat-card {
  margin: 20px;
}