.forgot-password,
.login-page {
  bottom: 0;
  color: map-get($color, 'color-white');
  left: 0;
  overflow: auto;
  padding: 0 15px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;

  .highlighted-message {
    @include media-breakpoint-down(sm) {
      height: 20vh;
    }
    @include media-breakpoint-down(xs) {
      height: 15vh;
    }
    align-items: center;
    background-image: url('../assets/images/background-admin-short.png');
    background-size: cover;
    display: flex;
    height: 100vh;
    justify-content: center;

    .title {
      @include media-breakpoint-down(sm) {
        font-size: 23px;
      }
      @include media-breakpoint-down(xs) {
        font-size: 20px;
      }
      color: map-get($color, 'color-white');
      font-size: 30px;
    }
  }

  .main {
    @include media-breakpoint-down(sm) {
      height: 80vh;
    }
    @include media-breakpoint-down(xs) {
      height: 85vh;
    }
    background-color: map-get($color, 'color-white');
    height: 100vh;

    .logo {
      @include media-breakpoint-down(sm) {
        margin-top: 40px;
      }
      margin-top: 80px;
    }

    .message {
      font-size: 16px;
      text-align: left;
    }

    form {
      @include media-breakpoint-down(xs) {
        margin-top: 20px;
      }
      color: map-get($color, 'color-black');
      margin-top: 100px;
    }

  }

}
