.card {
  max-width: 400px;
  margin: 20px;

  mat-card-actions {
    .btn {
      color: #ffffff;
      font-size: 18px;
      font-weight: 500;
      margin: 10px 0 0;
      width: 100%;
    }
  }
}
